.flex-container {
  display: flex;
  align-items: stretch;
  background-color: #fea1e1;
  flex-wrap:nowrap;

  border-radius:20px;
}

.flex-container>div {
  background-color: #018acf;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
